Salut <%= @user.first_name %> et bienvenue chez nous !
==========================================================
 
Tu t'es inscrit sur The gossips project en utilisant l'e-mail suivant : <%= @user.email %>.
 
Pour accéder à ton espace client, connecte-toi via : <a href=" <%= @url %> ">ce lien</a>.
 
À très vite sur The gossips project !