<h1>The gossip project</h1>
	<p> Tu veux creer un potin?
	<a <%= link_to "Clique ici", new_gossip_path %> </a><p>


		<% @gossips.each do |gossip| %></p> 
		
De : <%= gossip.user.first_name %>, <%= gossip.title %> <br />
<% end %></p>